<div class="container">
  <app-sidebard
    [contenido]="contenido"
    (item)="itemclick($event)"
  ></app-sidebard>

  <div class="items-wrapper">
    @if(item=="Activo"){
      <app-activo></app-activo>
    }
    @else if(item=="Aprobado"){
      <app-aprobado></app-aprobado>
    }
    @else if(item=="Pendiente"){
      <app-pendiente></app-pendiente>
    }
    @else if(item=="Rechazado"){
      <app-rechazado></app-rechazado>
    }
    @else if(item=="Finalizado"){
      <app-finalizado></app-finalizado>
    }
    @else if(item=="Cancelado"){
      <app-cancelado></app-cancelado>
    }
    @else if(item=="Favoritos") {
      <app-favoritos></app-favoritos>
    }
  
  </div>
</div>
