<div class="contenedor-objeto">
  <div class="seccion-imagen">
    <div class="contenedor-imagen">
      <ng-container *ngIf="producto.link; else noImg">
        <img
          [src]="producto.link"
          alt="{{ producto.nombre }}"
          class="imagen-producto"
        />
      </ng-container>
      <ng-template #noImg>
        <div class="imagen-no-encontrada">No se encontró la imagen</div>
      </ng-template>
    </div>
  </div>

  <div class="seccion-detalles">
    <h2 class="nombre-objeto">
      {{ producto.nombre + " " + producto.modelo + " " + producto.marca }}
      @if(usuario.vacio()){
        <div class="iniciar-sesion">inicie sesion para poner favoritos </div>
      }
      
      @else if(favorito==false){
        <img (click)="modificarfavorito()"src="assets/star-line-grey.png" alt="Favorito" style="width: 20px; height: 20px; margin-right: 6px;" />
     

      }
      @else
      {
      <img (click)="modificarfavorito()"src="assets/star-solid-yellow.png" alt="Favorito" style="width: 20px; height: 20px; margin-right: 6px;" />

      }
    </h2>
   

    <p class="descripcion-objeto">{{ producto.descripcion }}</p>
    <button
      (click)="addproductocarrito()"
      class="boton-carrito"
      [class.plomo]="addedToCart"
      [disabled]="addedToCart"
    >
      {{ addedToCart ? "Agregado al carrito" : "Agregar al carrito" }}
    </button>
  </div>
</div>


<app-comentarios
[idGrupoEquipo]="id"
></app-comentarios>