<div class="container-search">
  <!-- 1. El buscador -->
  <div
    class="search-input"
    [class.open]="showCategories"
    (focusin)="showCategories = false"
  >
    <img
      class="icon"
      src="/assets/search_line.png"
      alt="Buscar"
      (mouseenter)="hover.search = true"
      (mouseleave)="hover.search = false"
      (click)="actualizarobjetos()"
      [src]="
        hover.search ? '/assets/search_solid.png' : '/assets/search_line.png'
      "
    />

    <textarea
      [(ngModel)]="solicitud"
      placeholder="Buscar..."
      rows="1"
      (keydown.enter)="actualizarobjetos(); $event.preventDefault()"
      (focus)="showCategories = false"
    ></textarea>

     @if(solicitud.length > 0) {
        <img
          class="icon clear-icon"
          src="/assets/x.png"
          alt="Limpiar búsqueda"
          (click)="limpiar()"
          (mouseenter)="hover.clear = true"
          (mouseleave)="hover.clear = false"
          [src]="
            hover.clear ? '/assets/x_color.png' : '/assets/x.png'
          "
        />       

      
      } 

    <img
      class="icon category-icon"
      src="/assets/categories_line.png"
      alt="Categorías"
      (click)="mostrarcategorias()"
      (mouseenter)="hover.categories = true"
      (mouseleave)="hover.categories = false"
      [src]="
        hover.categories
          ? '/assets/categories_solid.png'
          : '/assets/categories_line.png'
      "
    />




  </div>
  @if (showCategories) {
    <div class="categories-panel">
      <div class="categories-list">
        <div class="no-category-item" (click)="seleccionarcategoria('')">
          Sin categoría
        </div>
        @for (item of items; track item.nombre) {
          <div class="category-item" (click)="seleccionarcategoria(item.nombre)">
            {{ item.Nombre }}
          </div>
        }
      </div>
    </div>
  }
</div>

<!-- 3. Lista de resultados fuera del buscador -->
@if (enviar) {
  <app-lista-objetos
    [categoria]="categoria"
    [producto]="solicitud"
  ></app-lista-objetos>
} @else {
  <app-lista-objetos
    [categoria]="categoria"
    [producto]="solicitud"
  ></app-lista-objetos>
}
